<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
  <div>

      <header class="h-100">
          <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
            <logo>
              <a class="logo navbar-brand" href="#">
                <strong>Navbar</strong>
              </a>
            </logo>
            <links>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbWavesEffect>
                  <a class="nav-link">
                    <a routerLink="nuclear" >Family </a>
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link"><a routerLink="todo" >Todo </a>
                </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link"><a routerLink="template" >Template Form </a>
                </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"><a routerLink="model" >Model Form </a>
                  </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"><a routerLink="search" >Search Form </a>
                  </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"><a routerLink="consume" >Consume </a>
                  </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"><a routerLink="consume2" >Consume2 </a>
                  </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"><a routerLink="remoteservice" >Remote Service </a>
                  </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"><a routerLink="animation" >Basic Animation </a>
                  </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"><a routerLink="eventbinding" >Parent Child </a>
                  </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"><a routerLink="fruits" >Fruits</a>
                  </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"><a routerLink="inbuilt">Directive</a>
                  </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link"><a routerLink="customerdirective">Custom Directive</a>
                  </a>
                </li>
              </ul>
            </links>
          </mdb-navbar>
          <!-- Main -->
          <div class="view intro-2" style="">
            <div class="full-bg-img">
              <div class="mask rgba-purple-light flex-center">
                <div class="container text-center white-text wow fadeInUp">
                    <h1>
                        Welcome {{ title }}!!
                      </h1>
                      <h2>
                       FAMILY Here
                      </h2>
                      <!-- <a routerLink="nuclear" >Family </a> -->
                      <!-- <a routerLink="todo" >Todo </a> -->
                      <!-- <a routerLink="template" >[ Template Form </a> -->
                      <!-- <a routerLink="model" >Model Form </a> -->
                      <!-- <a routerLink="search" >Search Form ]</a> -->
                      <!-- <a routerLink="consume" >[ Consume </a> -->
                      <!-- <a routerLink="consume2" >Consume2 ]</a><br> -->
                      <!-- <a routerLink="remoteservice" >Remote Service, </a> -->
                      <!-- <a routerLink="animation" >Basic Animation, </a> -->
                      <!-- <a routerLink="eventbinding" >Parent Child, </a> -->
                      <!-- <a routerLink="fruits" >Fruits</a><br> -->
                      <!-- <a routerLink="inbuilt">Directive</a> -->
                      <!-- <a routerLink="customerdirective">Custom Directive</a> <br> -->
                      <a routerLink="crud">Crud Operations</a> <br>
                      <router-outlet></router-outlet>

                  </div>
              </div>
            </div>
          </div>
          <!-- /.Main -->
      </header>
        <!--Main Navigation-->
      
        <!--Main Layout-->
        <main class="text-center py-5">
      
          <div class="container">
            <div class="row">
              <div class="col-md-12">
      
                <!-- <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                  sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
                  dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       -->
              </div>
            </div>
          </div>
      
        </main>
        <!--Main Layout-->

  
  <!-- <h2>
    <app-father></app-father>
  </h2> -->
</div>

